<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/styles.css"> <!-- Assuming path to your CSS file -->
    <title>About Us | Web Design</title>
</head>
<body class="about-page">
<header>
    <nav>
        <div class="nav__header">
            <div class="nav__logo">
                <a href="user">Wanwan</a>
            </div>
            <div class="nav__menu__btn" id="menu-btn">
                <i class="ri-menu-line"></i>
            </div>
        </div>
        <ul class="nav__links" id="nav-links">
            <li><a href="user">HOME</a></li>
            <li><a href="about">ABOUT</a></li>
            <li><a href="my_events">EXPLORE</a></li>
            <li><a href="event_register">REPORT ALERT</a></li>
        </ul>
    </nav>
</header>

<div class="about-container">
    <img src="../images/family.jpg" class="about-pic">
    <div class="about-content">
        <h1>About Us</h1>
        <h3>Citizen is on a mission to make your world a safer place.</h3>
        <p>
            We believe in public information for the good of the public.
        </p>
        <p>
            In being able to act on safety alerts in real time. In transparency that bonds and that empowers everyone in a community, from city council to residents.

            We believe in giving people a way to use their phones to protect a neighbor, to prevent a tragedy, and to count on one another.

            And to create a safer world for each other, with each other.
        </p>
    </div>
</div>

<!--<footer>-->
<!--    <div class="locations">-->
<!--        <span><i class="ri-map-pin-2-fill"></i></span>-->
<!--        OUR LOCATION-->
<!--    </div>-->
<!--    <div class="social">-->
<!--        <a href="#"><i class="ri-facebook-fill"></i></a>-->
<!--        <a href="#"><i class="ri-instagram-line"></i></a>-->
<!--        <a href="#"><i class="ri-twitter-fill"></i></a>-->
<!--    </div>-->
<!--</footer>-->

<footer>
    <div class="footer-container">
        <div class="footer-col">
            <h2>Wanwan</h2>
            <p>&copy; Wanwan 2024</p>
        </div>
        <div class="footer-col">
            <h3>
                Menu
            </h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Report Incident</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-solid fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="main.js"></script>
</body>
</html>
