<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{../css/styles.css}" />
    <title>Web Design | Incident Registration Page</title>
</head>
<body class="register-page">
<nav>
    <div class="nav__header">
        <div class="nav__logo">
            <a href="user-page">Wanwan</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
            <i class="ri-menu-line"></i>
        </div>
    </div>
    <ul class="nav__links" id="nav-links">
        <li><a href="user">HOME</a></li>
        <li><a href="about">ABOUT</a></li>
        <li><a href="my_events">EXPLORE</a></li>
        <li><a href="event_register">REPORT ALERT</a></li>
    </ul>
</nav>
<div class="form-body">
    <div class="form-container" >
        <div class="message" th:if="${message != null}">
            [[${message}]]
        </div>
        <div class="title">Report Incident</div>
        <form th:action="@{/save}" method="post">
            <div class="incident-details">

                <div class="input-box">
                    <span class="minorCategory">Major Category</span>
                    <select id="majorCategory" name="majorCategory">
                        <option th:each="majorCategory: ${majorCategories}"
                                th:text="${majorCategory.major}"
                                th:value="${majorCategory.id}">
                        </option>
                    </select>
                </div>

<!--                <div class="input-box">-->
<!--                    <span class="majorCategory">Major</span>-->
<!--                    <input type="text" id="majorCategory" name="majorCategory" placeholder="Enter Major Category">-->
<!--                    &lt;!&ndash;                <input type="text" id="majorCategory" name="majorCategory" placeholder="Enter Major Category" th:field="*{majorCategory}">&ndash;&gt;-->
<!--                </div>-->

                <div class="input-box">
                    <span class="minorCategory">Minor Category</span>
                    <select id="minorCategory" name="minorCategory">
                        <option th:each="minorcategory: ${minorcategories}"
                                th:text="${minorcategory.minor}"
                                th:value="${minorcategory.id}">
                        </option>
                    </select>
                </div>

<!--                <div class="input-box">-->
<!--                    <span class="minorCategory">Minor</span>-->
<!--                    <input type="text" id="minorCategory" name="minorCategory" placeholder="Enter Minor Category">-->
<!--                </div>-->

                <div class="input-box">
                    <span class="town">Town</span>
                    <input type="text" id="town" name="town" placeholder="Enter town">
                </div>

                <div class="input-box">
                    <span class="location">Location</span>
                    <input type="text" id="location" name="location" placeholder="Enter location">
                </div>

                <div class="input-box">
                    <span class="details">Incident Details</span>
                    <textarea id="details" name="details" placeholder="Enter incident details" required></textarea>
                </div>

                <div class="input-box">
                    <span class="date">Date</span>
                    <input type="date" id="date" name="date">
                </div>

                <div class="current-time">
                    <span class="time-label">Current Time:</span>
                    <span id="currentTime"></span>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Report">
            </div>
        </form>
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-col">
            <h2>Wanwan</h2>
            <p>&copy; Wanwan 2024</p>
        </div>
        <div class="footer-col">
            <h3>
                Menu
            </h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Report Incident</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-solid fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>

<!--<script>-->
<!--    // Get today's date in the format "YYYY-MM-DD"-->
<!--    const today = new Date().toISOString().slice(0, 10);-->

<!--    // Set the value of the date input field to today's date-->
<!--    document.getElementById('date').value = today;-->
<!--</script>-->
<script src="https://unpkg.com/scrollreveal"></script>
<script src="../js/main.js"></script>
</body>
</html>