<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
          href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
          rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{../css/styles.css}" />
  <title>Web Design | Home Page</title>
</head>
<body>
<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="user">Wanwan</a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <i class="ri-menu-line"></i>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a href="user">HOME</a></li>
    <li><a href="about">ABOUT</a></li>
    <li><a href="my_events">EXPLORE</a></li>
    <li><a href="event_register">REPORT ALERT</a></li>
  </ul>
</nav>
<div class="container">
  <div class="container__left">
    <h1>Protecting each other, hand in hand.</h1>
    <div class="container__btn">
      <a sec:authorize="isAuthenticated" th:href="@{/logout}" class="btn">LOGOUT</a>
    </div>
  </div>
  <div class="container__right">
    <div class="images">
      <img src="images/fire.jpeg" alt="image-1" class="image-1" />
      <img src="images/child.jpg" alt="image-2" class="image-2" />
    </div>
    <div class="content">
      <h2>Together Forever</h2>
      <h3>Saving Lives</h3>
      <p>
        In a world where compassion thrives,
        people unite to protect and care for one another.
        Through family, friendship, and community,
        we find strength in unity. Kindness and empathy are freely exchanged,
        creating sanctuaries of love and understanding.
        Protecting each other becomes a profound expression of our shared humanity.
      </p>
    </div>
  </div>
<!--  <div class="location">-->
<!--    <span><i class="ri-map-pin-2-fill"></i></span>-->
<!--    OUR LOCATION-->
<!--  </div>-->
<!--  <div class="socials">-->
<!--    <span>-->
<!--      <a href="#"><i class="ri-facebook-fill"></i></a>-->
<!--    </span>-->
<!--    <span>-->
<!--          <a href="#"><i class="ri-instagram-line"></i></a>-->
<!--        </span>-->
<!--    <span>-->
<!--          <a href="#"><i class="ri-twitter-fill"></i></a>-->
<!--        </span>-->
<!--  </div>-->
</div>

<footer>
  <div class="footer-container">
    <div class="footer-col">
      <h2>Wanwan</h2>
      <p>&copy; Wanwan 2024</p>
    </div>
    <div class="footer-col">
      <h3>
        Menu
      </h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Report Incident</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="ri-map-pin-2-fill"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-solid fa-envelope"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="main.js"></script>
</body>
</html>